/*
NIC DGL 203
Assignment 4A-1
Student: Will Lewthwaite
Modified date: 19 November, 2021
*/

@import './resets';
@import './variables';

    
body {
    background: $primary-color;
    color: $text-color;
}

.main{
    width: 80%;
    margin: 0 auto;

    #{&}_paragraph {
        font-weight: map-get($font-weights, bold);
        &:hover {
            color: pink;
        }
    }
}
